<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">

	<title>{ifset title}{include title|stripHtml} | {/ifset}Nette Web</title>
	<link rel="stylesheet" type="text/css" href="{$basePath}/css/nittro-full.css" />
	<script type="application/javascript" src="{$basePath}/js/nittro-full.js" async defer></script>
</head>

<body>
	<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>
	{snippet content}
		{include content}
	{/snippet}
	{block scripts}{/block}
</body>
</html>
