{layout '@layout.bonus.latte'}

{block content}
<h1>Chapter 2 - bonus / Page 2</h1>
<p>
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium aliquid asperiores debitis doloremque eius et, explicabo labore laudantium libero neque numquam, odio quae quaerat, quia rem temporibus tenetur voluptatibus!
</p>
