{extends '../../common/templates/@layout.latte'}

<ul n:inner-block="nav">
    <li role="presentation"><a n:href="Chapter3:" data-ajax="false">Naïve</a></li>
    <li role="presentation"><a n:href="Chapter3Better:" data-ajax="false">Better</a></li>
    <li role="presentation"><a n:href="Chapter3Transitions:" data-ajax="false">Transitions</a></li>
</ul>
