
{block content}

<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-md-2">
			<h3>Nittro Cookbook</h3>
			<nav id="doc-nav">
				<strong>Basics</strong>
                <ul class="nav doc-menu">
					<li class=""><a n:href="Cookbook:Chapter 1" target="example">Chapter 1</a>
                        <ul>
                            <li><a n:href="Chapter1:" target="example">example 1</a></li>
                        </ul>
                    </li>
					<li class=""><a n:href="Cookbook:Chapter 2" target="example">Chapter 2</a>
                        <ul>
                            <li><a n:href="Chapter2:" target="example">example 2</a></li>
                        </ul>
                    </li>
					<li class=""><a n:href="Cookbook:Chapter 3" target="example">Chapter 3</a>
                        <ul>
                            <li><a n:href="Chapter3:" target="example">example 3</a></li>
                        </ul>
                    </li>
				</ul>
                <strong>Intermediate</strong>
                <ul class="nav doc-menu">
                    <li class=""><a target="example">Chapter X</a>
                        <ul>
                            <li><a target="example">example X</a></li>
                        </ul>
                    </li>
                </ul>
                <strong>Advance</strong>
                <strong>Intermediate</strong>
                <ul class="nav doc-menu">
                    <li class=""><a target="example">Chapter X</a>
                        <ul>
                            <li><a target="example">example X</a></li>
                        </ul>
                    </li>
                </ul>
                <strong>Expert</strong>
                <strong>Intermediate</strong>
                <ul class="nav doc-menu">
                    <li class=""><a target="example">Chapter X</a>
                        <ul>
                            <li><a target="example">example X</a></li>
                        </ul>
                    </li>
                </ul>
			</nav>
		</div>
		<div class="col-xs-12 col-md-10">
			<div class="content-inner">
				<iframe style="height: 100%;width: 100%; min-height: 600px" src="{plink Cookbook:Chapter 1}" name="example" frameborder="0"></iframe>
			</div>
		</div>
	</div>
</div>
