<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">

	<title>{ifset title}{include title|stripHtml} | {/ifset}Nette Web</title>
	<link rel="stylesheet" type="text/css" href="{$basePath}/css/nittro.min.css" />
	<script type="application/javascript" src="{$basePath}/js/nittro.min.js" async defer></script>

    {block head}{/block}
</head>

<body>
	{snippet content}
		{include content}
	{/snippet}

	{ifset nav}
	    <hr>

        <ul class="nav nav-pills">
            {include nav}
        </ul>
    {/ifset}

	{block scripts}{/block}
</body>
</html>
