{block content}

<h1>This is an example of Flash Messages integration.</h1>

<div class="flash-container">
    <div n:foreach="$flashes as $flash" n:class="alert, 'alert-' . $flash->type">{$flash->message}</div>
</div>

{include 'content.latte'}