{block content}

<h1>This is an example of Flash Messages integration.</h1>

<p>

</p>

<p>And it's <strong>{date('l, H:i:s')}</strong>, in case you forgot.</p>

<ul>
    <li><a n:href="info!" data-history="false">Info</a></li>
    <li><a n:href="warning!" data-history="false">Warning</a></li>
    <li><a n:href="error!" data-history="false">Error</a></li>
</ul>
